#intro {
    background-image: url(./img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.display-4 {
    line-height: 1.5;
    font-weight: 900;
}
h4, h2, h6 {
    font-weight: 900;
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}